body {
  font-family: Arial, sans-serif;
  /* Simpler font */
  background-color: #000;
  /* Black background */
  color: #fff;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1 {
  color: #6a0dad;
  /* Purple color */
  font-size: 2.5em;
  /* Slightly smaller font size */
  margin-bottom: 20px;
}

.image-container {
  position: relative;
  display: inline-block;
}

.image-container img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 50px;
}

.languages,
.categorie,
.coding {
  text-align: center;
}

#website-link {
  display: block;
  width: 100%;
  text-align: center;
}

footer {
  background-color: #5b2e91;
  padding: 10px;
  text-align: center;
  width: 100%;
  position: fixed;
  bottom: 0;
  margin-top: auto; /* Ensure the cursor is not a pointer */
}

/* Takes care of the button colours */
.button {
  background-color: #6a0dad;
  /* Button color */
  color: #fff;
  border: none;
  padding: 20px 25px;
  margin: 10px;
  font-size: 1em;
  text-transform: uppercase;
  border-radius: 5px;
  /* Rounded corners */
  text-decoration: none;
}

.button:hover {
  background-color: #4b0082;
  /* Darker shade on hover */
}

@media (max-width: 600px) {
  .categorie {
    flex-direction: column;
    align-items: center;
  }
}
